@import '../../style/theme.scss';

.page {
    background: linear-gradient(to bottom, #fad8b8, #f8f8f8);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 30rpx;
    padding-top: 170rpx;
    .user-area {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 26rpx;
        .user-box {
            display: flex;
            align-items: center;
            .avatar {
                width: 120rpx;
                height: 120rpx;
                border-radius: 60rpx;
            }
            .name {
                font-size: 28rpx;
                margin-left: 24rpx
            }
        }
        .login-btn {
            width: 150rpx;
            height: 62rpx;
            background-color: $primary-color;
            color: white;
            border-radius: 10rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 28rpx;
            &:active {
                opacity: 0.6;
            } 
        }
    }

    .card-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 26rpx;
        .card {
            width: 330rpx;
            background-color: #fff;
            border-radius: 10rpx;
            box-sizing: border-box;
            padding: 23rpx;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .meta {
                .count {
                    font-size: 24rpx;
                    font-weight: bold;
                }
                .name {
                    font-size: 20rpx;
                    color: $gray-text-color
                }
            }
            .icon {
                width: 48rpx;
                height: 48rpx;
            }
        }
    }

    .list-items {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 15rpx;
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 36rpx 30rpx;
            .content {
                display: flex;
                align-items: center;
                .icon {
                    width: 40rpx;
                    height: 40rpx;
                    margin-right: 25rpx;
                }
                .label {
                    font-size: 30rpx;
                    color: $gray-text-color; 
                }
            }
            .left-arraw {
                width: 40rpx;
                height: 40rpx;
            }
            &.me-car {
                border-top-left-radius: 10rpx;
                border-top-right-radius: 10rpx;
            }
            &.me-park{
                border-bottom-left-radius: 10rpx;
                border-bottom-right-radius: 10rpx;
            }
            &.me-person {
                border-top-left-radius: 10rpx;
                border-top-right-radius: 10rpx;
            }

            &.me-user {
                border-bottom-left-radius: 10rpx;
                border-bottom-right-radius: 10rpx;
            }
            &:active {
                opacity: 0.8; 
            }
        }
    }
    .version {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rpx;
        .value {
            color: #b4b4b4;
            font-size: 24rpx;
        }
    }
}