/* pages/login/index.wxss */
@import '../../style/theme.scss';

.page {
    padding-top: 176rpx;
}
.logo {
    width: 150rpx;
    height: 150rpx;
    border-radius: 75rpx;
    overflow: hidden;
    margin-bottom: 22rpx;
}

.logo-title {
    margin-bottom: 160rpx;
}

.intro {
    font-size: 37rpx;
    font-weight: bold;
    margin-bottom: 84rpx
}

.login-tips {
    font-size: 25rpx;
    color: $gray-text-color;
    margin-bottom: 14rpx;
}

.login-btn {
    height: 85rpx;
    background-color: $primary-color;
    color: white;
    border-radius: 10rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42rpx;
    &.button-hover {
        opacity: 0.6;
    }
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-area {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30rpx;
        .contact {
            width: 40rpx;
            height: 40rpx;
            margin-right: 10rpx;
        }
        .phone {
            font-size: 28rpx;
            color: $gray-text-color
        }
    }
    .suparking {
        width: 280rpx;
        height: 280rpx;
    }
}


