@import "../../style/theme.scss";
.page {
    box-sizing: border-box;
    padding: 0 0;
    height: 100vh;
    background-color: #f8f8f8;
    align-items: flex-start;
    .head {
        width: 100%;
        height: 360rpx;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
    
        .icon-area {
            width: 128rpx;
            height: 128rpx;
        }
        .content {
            color: #fff;
            font-size: 35rpx;
            margin-top: 20rpx;
        }
    }
    
    .spliter {
        height: 30rpx;
        // background: #7c7b7b;
        background: $gray-text-color;
        width: 84%;
        border-radius: 30rpx;
        margin-left: 8%;
        margin-top: -45rpx;
    }
    .container {            
        box-sizing: border-box;
        padding: 30rpx 30rpx;
        background-color: #fff;
        align-items: flex-start;
        margin: auto;
        margin-top: -16rpx;
        width: 80%;
        .order-detail-content-area {
            border-bottom:  1rpx dashed;
            border-color: $gray-text-color;
            padding-bottom: 10rpx;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10rpx;
            .title {
                font-weight: bold;
                font-size: 30rpx;
            }
            .content {
                 color: $gray-text-color; 
            }
         }
    }
    .btn{
        margin: auto;
        margin-top: 35rpx;
        width: 80%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        .button {
            background-color: $primary-color;
            color: #fff;
            border-radius: 10rpx;
            font-size: 35rpx;
            &:active {
                opacity: 0.6;
            }
        }
    }
}
