@import '../../style/theme.scss';
.scroll-wrapper {
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    height: 90rpx;
    padding: 0 30rpx;
    box-sizing: border-box;
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
        color: transparent;
    }
    .navigate-item {
        display: inline-block;
        text-align: center;
        height: 90rpx;
        line-height: 90rpx;
        margin: 0 16rpx;
        .names {
            font-size: 28rpx;
            color: #777777;
            &.active {
                color: black;
                font-weight: bold;
            }
        }
        .currtline {
            margin: -8rpx auto 0 auto;
            width: 100rpx;
            height: 8rpx;
            border-radius: 4rpx;
            &.active {
                background: #ff6729;
                transition: all 0.5s;
            }
        }
    }
}
.swiper-container {
    min-height: calc(100vh - 100rpx);
    .scroll-block {
        overflow: scroll;
        height: calc(100vh - 100rpx);
        width: 100%;
        box-sizing: border-box;
        background-color: #f8f8f8;
        transition: all 0.5s;
        .order-box {
            background-color: #ffffff;
            border-radius: 10rpx;
            padding: 25rpx;
            margin: 14rpx 25rpx;
            flex: 1;
            .header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5rpx;
                .name {
                    font-size: 28rpx;
                    font-weight: bold;
                }
                .status-area {
                    display: flex;
                    align-items: center;
                    .content {
                        font-size: 28rpx;
                        color: $gray-text-color;
                        margin-right: 5rpx;
                    }
                    .icon {
                        width: 24rpx;
                        height: 24rpx;
                    }
                }
            }
            .container {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .info-area {
                    .info {
                        font-size: 20rpx;
                        color: $gray-text-color;
                        margin-bottom: 5rpx;
                    }
                }
                .action-area {
                    border-left: 1rpx solid #eeeeee;
                    display: flex;
                    align-items: center;
                    .btn-area {
                        box-sizing: border-box;
                        padding: 0 30rpx;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .action {
                            width: 80rpx;
                            height: 40rpx;
                            border: 1rpx solid $gray-text-color;
                            border-radius: 20rpx;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 10rpx;
                            &.pay {
                                border-color: $primary-color;
                            }
                            &:active {
                                opacity: 0.8;
                            }
                            .btn {
                                font-size: 20rpx;
                                color: $gray-text-color;
                                &.pay {
                                    color: $primary-color
                                }
                            }
                        }
                    }
                }
            }
        }
        .end-area {
            color: $gray-text-color;
            width: 100%;
            text-align: center;
            padding: 30rpx 0;
        }
    }
}
